li a{ font-family:'Montserrat'; regular-italic 
}

ul{
	list-style-type: none;
	background-color:black;
    overflow:hidden;
}

li {
	float:left;
}

li a {
	text-align: center;
	display: block;
	color:white;
	padding: 32px 40px;
	text-decoration: none;
}
li a:hover {
	background-color:brown;

}
.active {
	background-color:red;
}


body { 
	
/*background-image:url('flame.gif');*/
/*opacity:1;*/
}
section {
  margin: auto;
  height: 95%;
  width: 80%;
  background-attachment: fixed;
  background-size: cover;
/*  we're using the flex-box method: checkout this website for more information on flex-box;*/
  display: flex;
}
section:first-of-type h1 {
	text-align: center;

    color: red;
    font-family: 'Titillium Web', sans-serif;
    font-size: 750%;
}
section:first-of-type {
 /* loading a background image/gif for the first section - via a url */
  background-image: url('140226101235232981.gif');
  opacity: 1;
  width: 100%;  
  height: 100%;

  box-shadow: 17px 17px 5px 6px rgba(0, 0, 0, 0.5);;

}

section:first-of-type p  {
    color: white;
    font-family: courier;
    font-size: 300%;
}
section:nth-of-type(2) h2 {color:blue;}
section:nth-of-type(2) h3 img {
    display: block;
    margin: auto;
    width: 100%;
}

section:nth-of-type(2){
	background-color:black;

}
section:nth-of-type(3) h4  img {
    display: block;
    margin: auto;
    width: 100%;
}
 section:nth-of-type(3) h6 p {
 	color:white;
    float: left;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
    size:100;
    overflow: hidden;
    font-size:15px;
    padding-left: 8%;
}
section:nth-of-type(4) h7 img {
    display: block;
    margin: auto;
    width: 100%;
}
section:nth-of-type(5){
/*	background-image:url('flame.gif');
opacity:0.5;*/
}
section:last-of-type p {
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    font-size:25px;
    color:white;
    padding-left: 25px;
    margin-left: 25px;
}



#imagebackground{
	background-image:url('flame.gif');
position: absolute;
	opacity: .8;
/*	background-color: red;*/
	width: 3000px;
	height: 2300px;
	z-index: -3;
}







/*div#first{
background-image: url('images/wood1.jpg');
opacity:0.2;
width:300px;
height:300px;
}


 


















